data/raw/negative_dataset.gz
data/raw/positive_dataset.gz
report/images
report/references
report/bibliography.bib
report/cdrart.cls
report/config.tex
report/kunitz_report.aux
report/kunitz_report.bbl
report/kunitz_report.bcf
report/kunitz_report.blg
report/kunitz_report.fdb_latexmk
report/kunitz_report.fls
report/kunitz_report.log
report/kunitz_report.out
report/kunitz_report.run.xml
report/kunitz_report.synctex.gz
report/kunitz_report.tex
report/project.txt
